<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="./start.css">
    <title>Свободная парковка</title>
</head>
<body>
    <main class="main404">
        <h2 class="main404__title top">Ошибка</h2>
        <span class="main404__title num">404</span>
        <img class="main404__img" alt="Машинки" src="Машинки.png" />
        <button class="main404__button" type="button">На главную</button>
    </main>

</body>
</html>